In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
data1=pd.read_table('user_data.csv',delimiter=',')
data1.head()

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type
0,Oliver,Brady,68,Male,Mitsubishi,WRX,2003,Sedan
1,Denis,Jackson,35,Male,Toyota,Canyon Regular Cab,2011,Convertible
2,Joshua,Williams,26,Male,Honda,1500 Crew Cab,1999,Sedan
3,Malcolm,Johnson,37,Male,Dodge,Legacy,1996,"Sedan, Wagon"
4,Ashley,Bates,57,Male,Chevrolet,A8,2018,Sedan

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn=msql.connect(host='europa.ashley.work',user='student_bh98hd',password='iE93F2@8EhM@1zhD&u9M@K')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execute("CREATE DATABASE student_bi02kk")
        print("Files database is created")
except Error as e:
    print("Error while connecting mysql",e)

Error while connecting mysql 1044 (42000): Access denied for user 'student_bh98hd'@'%' to database 'student_bi02kk'

In [6]:
try:
    conn=msql.connect(host='europa.ashley.work',database='student_bh98hd',user='student_bh98hd',password='iE93F2@8EhM@1zhD&u9M@K')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execute("select database();")
        record=cursor.fetchone()
        print("you're connected to database:",record)
        cursor.execute('DROP TABLE IF EXISTS csv_doc;')
        print('creating table...')
        cursor.execute("CREATE TABLE csv_doc (firsName CHAR(25),lastName CHAR(25) ,age int(3),Sex CHAR(10),VehiculeMake CHAR(45),VehiculeModel CHAR(45),VehiculeYear INT(10),VehiculeType CHAR(45))")
        print("CSV is CREATED")
        for i,row in data1.iterrows():
            sql="INSERT INTO csv_doc VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Data inserted")
            conn.commit()
except Error as e:
        print(e)

you're connected to database: ('student_bh98hd',)
creating table...
CSV is CREATED
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted

In [7]:
import os
import json

In [8]:
data2=pd.read_json('user_data.json')
data2=data2.drop(columns=['debt'])
data2

,firstName,lastName,age,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city,address_postcode
0,Janet,Whittaker,79,GB06TIPX06791401324359,213175641545275,596,12/17,08/20,Studio 6 Robin court,Christopherland,N49 2LB
1,Kieran,Heath,83,GB28VQOG22478273510511,4153200250709345,248,11/13,08/21,13 Hale light,East Mandy,BA1 4GB
2,Jane,Turner,29,GB07EALL99866589295356,6011192438703554,610,03/18,04/18,0 Cooper plains,Sharonville,N56 0PY
3,Arthur,Mistry,27,GB35LSGC87398305883119,502098808533,948,12/18,06/27,312 Parsons junctions,Williamstown,BN5M 3UU
4,Julian,King,20,GB94ENYC03030578781434,213160758811140,851,06/21,01/25,396 Leon tunnel,South Bethborough,N9J 1TD
...,...,...,...,...,...,...,...,...,...,...,...
995,Steven,Brown,32,GB33OFVP34933732035949,4280071656907742,785,09/20,06/23,Flat 2 Baxter loaf,North Francis,SW18 8WR
996,Holly,Robinson,74,GB84HMOB87256317597385,30447170264755,457,11/16,09/30,Flat 56Q Pauline station,Godfreyview,M2S 9WL
997,Samantha,Green,52,GB15MWAN23405812817889,6569583959444097,874,09/20,10/29,69 Humphries mews,Thompsonborough,SA5M 7SJ
998,Sara,Jones,91,GB04XBKL70140330155530,38032927926518,784,09/13,04/19,471 Davis club,McDonaldberg,S51 6JR
999,Reece,Brown,63,GB49QVLP91447661538988,565098383047,448,02/15,12/20,75 Holly turnpike,Frenchmouth,B1C 6BF

In [9]:
try:
    conn=msql.connect(host='europa.ashley.work',database='student_bh98hd',user='student_bh98hd',password='iE93F2@8EhM@1zhD&u9M@K')
    if conn.is_connected():
        cursor=conn.cursor()
        cursor.execute("select database();")
        record=cursor.fetchone()
        print("you're connected to database:",record)
        cursor.execute('DROP TABLE IF EXISTS json_doc;')
        print('creating table...')
        cursor.execute("CREATE TABLE json_doc (firsName CHAR(25),lastName CHAR(25) ,age int(3),iban CHAR(40),credit_card_number CHAR(25),credit_card_security_code INT(5),credit_card_start_date CHAR(10),credit_card_end_date CHAR(10),address_main CHAR(35),address_city CHAR(30),address_postcode CHAR(10))")
        print("table is CREATED")
        for i,row in data2.iterrows():
            sql="INSERT INTO json_doc VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql,tuple(row))
            print("Data inserted")
            conn.commit()
except Error as e:
        print(e)

you're connected to database: ('student_bh98hd',)
creating table...
table is CREATED
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted
Data inserted

In [10]:
import xml.etree.ElementTree as ET
xtree = ET.parse("user_data.xml")
xroot=xtree.getroot()
cols = ["firstName", "lastName", "age", "sex", "retired", "dependants", "marital_status", "salary", "pension", "company", "commute_distance", "address_postcode"]
rows = []
for node in xroot:
    s_firstName=node.attrib.get("firstName")
    s_lastName=node.attrib.get("lastName")
    s_age=node.attrib.get("age")
    s_sex=node.attrib.get("sex")
    s_retired=node.attrib.get("retired")
    s_dependants=node.attrib.get("dependants")
    s_marital_status=node.attrib.get("marital_status")
    s_salary=node.attrib.get("salary")
    s_pension=node.attrib.get("pension")
    s_company=node.attrib.get("company")
    s_commute_distance=node.attrib.get("commute_distance")
    s_address_postcode=node.attrib.get("address_postcode")
    rows.append({"firstName": s_firstName, "lastName": s_lastName, "age": s_age, "sex": s_sex,"retired": s_retired, "dependants": s_dependants, "marital_status": s_marital_status, "salary": s_salary, "pension": s_pension, "company": s_company,"commute_distance": s_commute_distance, "address_postcode": s_address_postcode})

data3 = pd.DataFrame(rows, columns = cols)

In [11]:
data3.head()

,firstName,lastName,age,sex,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode
0,Hannah,Jones,21,Female,False,2,married or civil partner,20603,0,Ward and Sons,6.56,N06 4LG
1,Tracy,Rowley,50,Female,False,1,single,39509,0,"Fuller, King and Robinson",11.01,M1 6JD
2,Shane,Thompson,87,Male,True,2,single,53134,13409,N/A,0,WF84 1EA
3,Michael,Anderson,85,Male,True,2,married or civil partner,58524,39479,N/A,0,BN1 7TL
4,Clifford,Mason,64,Male,False,1,widowed,32510,0,"Wood, Clarke and Wood",9.53,PH60 9ZT

In [12]:
try:
    conn=msql.connect(host='europa.ashley.work',database='student_bh98hd',user='student_bh98hd',password='iE93F2@8EhM@1zhD&u9M@K')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS xml_doc;')
        print('Creating table....')
        cursor.execute("CREATE TABLE xml_doc (firstName CHAR(25), lastName CHAR(25),age INT(3),Sex CHAR(10) , retired CHAR(25),dependants CHAR(15),marital_status CHAR(25),salary CHAR(25),pension INT(10),company CHAR(35),commute_distance FLOAT(7),address_postcode CHAR(25))")
        print("table is created....")
        for i,row in data3.iterrows():
            sql = "INSERT INTO xml_doc VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('student_bh98hd',)
Creating table....
table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [13]:
DOC1=data1.merge(data3,how='outer',left_on=["First Name","Second Name"],right_on=["firstName","lastName"])

In [14]:
DOC1.head()

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,firstName,lastName,age,sex,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode
0,Oliver,Brady,68,Male,Mitsubishi,WRX,2003,Sedan,Oliver,Brady,68,Male,False,2,single,62743,0,Myers-Smith,15.18,EC3R 6QB
1,Denis,Jackson,35,Male,Toyota,Canyon Regular Cab,2011,Convertible,Denis,Jackson,35,Male,False,3,married or civil partner,82669,0,Smith-Stewart,18.16,SW54 8ZR
2,Joshua,Williams,26,Male,Honda,1500 Crew Cab,1999,Sedan,Joshua,Williams,26,Male,False,,single,27951,0,Knowles-Willis,8.47,S97 8RB
3,Malcolm,Johnson,37,Male,Dodge,Legacy,1996,"Sedan, Wagon",Malcolm,Johnson,37,Male,False,5,married or civil partner,37670,0,Baker Ltd,10.64,ME80 4BN
4,Ashley,Bates,57,Male,Chevrolet,A8,2018,Sedan,Ashley,Bates,57,Male,False,1,single,19783,0,Read-Smith,6.33,NN3 1BS

In [15]:
DOC1=DOC1.drop(columns=['firstName','lastName','age','sex'])

In [16]:
DOC1.head()

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode
0,Oliver,Brady,68,Male,Mitsubishi,WRX,2003,Sedan,False,2,single,62743,0,Myers-Smith,15.18,EC3R 6QB
1,Denis,Jackson,35,Male,Toyota,Canyon Regular Cab,2011,Convertible,False,3,married or civil partner,82669,0,Smith-Stewart,18.16,SW54 8ZR
2,Joshua,Williams,26,Male,Honda,1500 Crew Cab,1999,Sedan,False,,single,27951,0,Knowles-Willis,8.47,S97 8RB
3,Malcolm,Johnson,37,Male,Dodge,Legacy,1996,"Sedan, Wagon",False,5,married or civil partner,37670,0,Baker Ltd,10.64,ME80 4BN
4,Ashley,Bates,57,Male,Chevrolet,A8,2018,Sedan,False,1,single,19783,0,Read-Smith,6.33,NN3 1BS

In [17]:
DOC2=DOC1.merge(data2,how='outer',left_on=["First Name","Second Name"],right_on=["firstName","lastName"])

In [18]:
pd.set_option('display.max_columns',None)
DOC2.head()

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,firstName,lastName,age,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city,address_postcode_y
0,Oliver,Brady,68,Male,Mitsubishi,WRX,2003,Sedan,False,2,single,62743,0,Myers-Smith,15.18,EC3R 6QB,Oliver,Brady,68,GB22ZLAW73114167985782,5141290311954834,946,11/20,01/30,Studio 15 Donna lights,Stuarthaven,EC3R 6QB
1,Denis,Jackson,35,Male,Toyota,Canyon Regular Cab,2011,Convertible,False,3,married or civil partner,82669,0,Smith-Stewart,18.16,SW54 8ZR,Denis,Jackson,35,GB34XERJ15638486218742,2246218069251294,666,07/16,10/30,Studio 38r Gordon wells,Cunninghamfort,SW54 8ZR
2,Joshua,Williams,26,Male,Honda,1500 Crew Cab,1999,Sedan,False,,single,27951,0,Knowles-Willis,8.47,S97 8RB,Joshua,Williams,26,GB76FFNA64547647754971,4017034567048676352,133,05/18,06/20,173 Jones meadow,Hallstad,S97 8RB
3,Malcolm,Johnson,37,Male,Dodge,Legacy,1996,"Sedan, Wagon",False,5,married or civil partner,37670,0,Baker Ltd,10.64,ME80 4BN,Malcolm,Johnson,37,GB46ZLCD77668687243311,4603290222882884096,241,06/17,04/21,Flat 92 Dale courts,North Dominic,ME80 4BN
4,Ashley,Bates,57,Male,Chevrolet,A8,2018,Sedan,False,1,single,19783,0,Read-Smith,6.33,NN3 1BS,Ashley,Bates,57,GB62OYNA11401233406947,2405870932540001,271,08/16,03/31,0 Josephine mountain,Aimeeberg,NN3 1BS

In [19]:
DOC2=DOC2.drop(columns=['firstName','lastName','age'])

In [20]:
DOC2=DOC2.drop(columns=['address_postcode_y'])
pd.set_option('display.max_columns',None)
DOC2.head()

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city
0,Oliver,Brady,68,Male,Mitsubishi,WRX,2003,Sedan,False,2,single,62743,0,Myers-Smith,15.18,EC3R 6QB,GB22ZLAW73114167985782,5141290311954834,946,11/20,01/30,Studio 15 Donna lights,Stuarthaven
1,Denis,Jackson,35,Male,Toyota,Canyon Regular Cab,2011,Convertible,False,3,married or civil partner,82669,0,Smith-Stewart,18.16,SW54 8ZR,GB34XERJ15638486218742,2246218069251294,666,07/16,10/30,Studio 38r Gordon wells,Cunninghamfort
2,Joshua,Williams,26,Male,Honda,1500 Crew Cab,1999,Sedan,False,,single,27951,0,Knowles-Willis,8.47,S97 8RB,GB76FFNA64547647754971,4017034567048676352,133,05/18,06/20,173 Jones meadow,Hallstad
3,Malcolm,Johnson,37,Male,Dodge,Legacy,1996,"Sedan, Wagon",False,5,married or civil partner,37670,0,Baker Ltd,10.64,ME80 4BN,GB46ZLCD77668687243311,4603290222882884096,241,06/17,04/21,Flat 92 Dale courts,North Dominic
4,Ashley,Bates,57,Male,Chevrolet,A8,2018,Sedan,False,1,single,19783,0,Read-Smith,6.33,NN3 1BS,GB62OYNA11401233406947,2405870932540001,271,08/16,03/31,0 Josephine mountain,Aimeeberg

In [21]:
DOC2.loc[(DOC2['First Name']=='Debra') & (DOC2['Second Name']=='Wood' ),'credit_card_security_code']='592'

In [22]:
DOC2.loc[(DOC2['First Name']=='Hilary') & (DOC2['Second Name'] == 'Howard'),'salary'] = '86396'

In [23]:
DOC2.loc[(DOC2['First Name']=='Molly') & (DOC2['Second Name'] == 'Dobson'),'Age (Years)']='82'

In [24]:
DOC2.loc[(DOC2['Second Name'] == 'Miller') & (DOC2['pension'] == '24515'),'pension']='27334'

In [25]:
DOC2[(DOC2['First Name']=='Debra') & (DOC2['Second Name']=='Wood')]

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city
5,Debra,Wood,61,Female,Nissan,E350 Super Duty Passenger,2002,Pickup,False,1,married or civil partner,71956,0,Todd-Taylor,16.61,NE16 5FA,GB11KTXC25765883625570,6011585714156746,592,01/15,06/27,Studio 32 Albert street,New Lauren

In [26]:
DOC2[(DOC2['First Name']=='Hilary') & (DOC2['Second Name'] == 'Howard')]

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city
1053,Hilary,Howard,28,Female,Hyundai,Cavalier,2015,SUV,False,2,single,86396,0,Hussain-Adams,18.41,L65 4WE,GB45ATPS09542642371826,4642622262815811,654,01/18,11/21,Flat 17c Howard rue,Dyermouth

In [27]:
DOC2[(DOC2['First Name']=='Molly') & (DOC2['Second Name'] == 'Dobson')]

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city
163,Molly,Dobson,82,Female,GMC,Acadia,1996,Sedan,True,4,single,80473,21571,N/A,0,M17 0SS,GB92FIGJ08067454704984,3547789398103327,233,05/21,08/27,Studio 13G Taylor cliff,East Christopher

In [28]:
DOC2[(DOC2['Second Name'] == 'Miller') ]

,First Name,Second Name,Age (Years),Sex,Vehicle Make,Vehicle Model,Vehicle Year,Vehicle Type,retired,dependants,marital_status,salary,pension,company,commute_distance,address_postcode_x,iban,credit_card_number,credit_card_security_code,credit_card_start_date,credit_card_end_date,address_main,address_city
232,Lewis,Miller,83,Male,Nissan,ES,2014,Van/Minivan,True,2,widowed,82074,27334,N/A,0,WA5A 5LF,GB87ITLF91989384506822,4547058974862,323,05/20,09/26,Flat 4 Martin fall,Susanville
447,Mathew,Miller,54,Male,MINI,S10 Extended Cab,2008,Van/Minivan,False,2,married or civil partner,96350,0,Johnson PLC,20.01,N3 3TA,GB24WOTG16337315081524,503845406969,965,12/17,01/30,Studio 2 Fuller stream,East Nathan
848,Bethan,Miller,63,Female,Lexus,Versa,2015,Sedan,False,1,married or civil partner,98275,0,"Elliott, Robinson and Gibbons",20.26,SR56 1FD,GB47HXGC57504456234526,2267031770015690,909,07/21,10/22,4 Elliott valleys,South Leah

In [29]:
try:
    conn=msql.connect(host='europa.ashley.work',database='student_bh98hd',user='student_bh98hd',password='iE93F2@8EhM@1zhD&u9M@K')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS DOC_FILE;')
        print('Creating table....')
        cursor.execute("CREATE TABLE DOC_FILE (firstName CHAR(25), lastName CHAR(25),age INT(3),Sex CHAR(10) , VehiculeMake CHAR(25),VehiculeModel CHAR(45),VehiculYear INT(10),VehiculeType CHAR(45), retired CHAR(25),dependants CHAR(15),marital_status CHAR(35),salary CHAR(25),pension INT(10),company CHAR(45),commute_distance FLOAT(7),address_postcode CHAR(25),iban CHAR(25), credit_card_number CHAR(200),credit_card_security_code CHAR(25),credit_card_start_date CHAR(20),credit_card_end_date CHAR(25),address_main CHAR(35) ,address_city CHAR(30))")
        print(" table is created....")
        for i,row in DOC2.iterrows():
            sql = "INSERT INTO DOC_FILE VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('student_bh98hd',)
Creating table....
 table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted